.main {
  display: flex;
  flex-flow: column wrap;

  &__country-list {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;

    & div {
      flex-basis: 24%;
      min-width: 250px;
      max-width: 600px;
    }

    transition: all linear .2s;

    a:hover {
      background: rgba(0,0,0,.25)
    }
  }
}
