.map {
  position: relative;

  &__FullScreenBtn {
    position: absolute;
    top: 74px;
    left: 10px;
    z-index: 1000;
  }

  &__fullScreenImg {
    width: 35px;
    height: auto;
    background: #FFFFFF;
  }

  &__container {
    height: 60vh;
  }

  .fullscreen-enabled {
    .map__container {
      height: 100vh;
    }
  }
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
