.search_panel {
    display: flex;

    &__form {
        position: relative;
        display: flex;
        width: 10%;
        flex-grow: 1;
        margin: 30px 20px;
    }

    &__input {
        width: 100%;
        padding-left: 7px;
        margin-right: 3px;
        height: 2rem;
        outline: none;
        font-size: 1.5rem;
    }

    &__img {
        position: absolute;
        right: 5px;
        height: 90%;
    }

    button {
        height: 2rem;
        margin-top: 30px;
    }
}
